<?php
return [ 

	// Database settings
	'db' => [
		'host' => 'localhost',
		'database' => 'database', 
		'user' => 'user', 
		'password' => 'password'
	],
	
	// User Email Acccount settings
	'mail' => [
		'host' => 'smtp.yandex.ru',
		// 'port' => 465,
		// 'encryption' => 'ssl',		
		'port' => 587,
		'encryption' => 'tls',
		'login' => 'userlogin',
		'password' => 'userpassword',		
		'address' => 'useraddress',
		'name' => 'username'
	]	
];